<html>

<head>
	<style>
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 20px;
	}

	th {
		text-align: left;
	}
	</style>
</head>

<body>
	<table style="width:100%">
		<tr>
			<th>name</th>
			<th>percent7d%</th>
			<th>vol24h%</th>
		</tr>
		<tr>
			<td><img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/9436.png" loading="lazy" alt="ELON logo"> Dogelon Mars ELON</td>
			<td>{{doge7d}}</td>
			<td>{{doge_24}}</td>
		</tr>
		<tr>
			<td><img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/10407.png" loading="lazy" alt="BabyDoge logo" width="64" height="64"> Baby DogeCoin</td>
			<td>{{baby7}}</td>
			<td>{{baby24}}</td>
		</tr>

	</table>
	&nbsp;
	&nbsp;
	<br>
	<header><h1>Number of holders in the last 7 days</h1></header>
	&nbsp;
	<br>


<table style="width:100%">
	<tr>
		<th><img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/9436.png" loading="lazy" alt="ELON logo">
		<br>Dogelon Mars ELON
		</th>

		<th>
			<img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/10407.png" loading="lazy" alt="BabyDoge logo" width="64" height="64">
		<br>Baby DogeCoin

		</th>


	</tr>
  <tr>

    <td>{{d_h_1}}</td>
    <td>{{b_h_1}}</td>
  </tr>
  <tr>

    <td>{{d_h_2}}</td>
    <td>{{b_h_2}}</td>
  </tr>
  <tr>

    <td>{{d_h_3}}</td>
    <td>{{b_h_3}}</td>
  </tr>
  <tr>

    <td>{{d_h_4}}</td>
    <td>{{b_h_4}}</td>
  </tr>
	 <tr>

    <td>{{d_h_5}}</td>
    <td>{{b_h_5}}</td>
  </tr>
	 <tr>

    <td>{{d_h_6}}</td>
    <td>{{b_h_6}}</td>
  </tr>
	 <tr>

    <td>{{d_h_7}}</td>
    <td>{{b_h_7}}</td>
  </tr>

</table>
</body>

</html>
